.node-type-forum-post #breadcrumb {
  display: block;
  padding-bottom: 0.5em;
}

.node-type-forum-post #content-inner h1 {
  margin: 0 0 0.2em;
}

.views-field-comment-count {
  text-align: left;
}

span.new {
  color: red;
  font-weight: bold;
  font-variant: small-caps;
}

/* These are backwards in the module. */

.radioactivity-gauge.lvl-1 {
  background-position: 0 0;
}

.radioactivity-gauge.lvl-3 {
  background-position: -32px 0;
}

/* Forum view footer button */

.view-forum-posts .view-footer a,
#block-views-forum-posts-block-1 .view-footer a {
  background-color: #005DAA;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em;
}

/* Parent posts */

.node-forum-post .submitted {
  color: #777;
  margin: 0 0 1.5em;
}

.node-forum-post .links.inline .comment-add {
  display: none;
}

/* Threaded discussion */

.indented {
  border-left: solid 1px #dbdbdb;
  margin-left: 15px;
  padding-left: 10px;
}

/* Comments */

#comments {
  border-top: 3px solid #dbdbdb;
  margin-top: 0em;
  padding-top: 2em;
}

.comment {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -4px #666;
  margin: 1em 0;
  padding: 1em;
}

.comment .links li a:link,
.permalink {
  color: #888;
  font-size: 0.9em;
  font-style: italic;
}

.title.comment-form {
  padding-top: 1em;
}

#edit-comment-body-und-0-format-guidelines {
  color: #666;
}
