/**
 * @file
 * Contains alternate styling for IE 9 and lower for the front page.
 */

@media only screen and (min-width: 480px) {

  .front #content-inner .block {
    display: inline-block;
    margin: 0 2% 1em;
    vertical-align: top;
    width: 45%;
  }

}

@media only screen and (min-width: 960px) {

  .front #content-inner .block {
    margin: 0 1.3% 1em;
    width: 30%;
  }

}
